In [1]:
import pandas as pd


# Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   99.721285         1    3          1           1              0
1   99.720851         0   27          0           0              0
2  101.252102         0   27          1           0              1
3   98.369350         0   27          0           0              0
4  101.916225         1   93          1           1              0

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2690  100.520664         1    4          1          -1              0
2691  100.302530         0   27          0           0              0
2692   98.797727         0   37          0          -1              1
2693  101.383657         0   27          0           0              0
2694   99.424468         1   65          0           1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2695 entries, 0 to 2694
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2695 non-null   float64
 1   bodyPain       2695 non-null   int64
 2   age            2695 non-null   int64
 3   runnyNose      2695 non-null   int64
 4   diffBreath     2695 non-null   int64
 5   infectionProb  2695 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 126.4 KB

In [6]:
df['diffBreath'].value_counts()

 0    1809
 1     446
-1     440
Name: diffBreath, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2695.000000,2695.000000,2695.000000,2695.000000,2695.000000,2695.000000
mean,99.976641,0.243785,39.274583,0.252319,0.002226,0.251948
std,1.153085,0.429444,23.632886,0.434424,0.573475,0.434212
min,98.003048,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.988850,0.000000,27.000000,0.000000,0.000000,0.000000
50%,99.953075,0.000000,27.000000,0.000000,0.000000,0.000000
75%,100.984401,0.000000,53.000000,1.000000,0.000000,1.000000
max,101.997155,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [8]:
import numpy as np

In [9]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [10]:
 np.random.permutation(7)

array([2, 6, 4, 3, 5, 0, 1])

In [11]:
train , test = data_split(df, 0.2)

In [12]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
208    99.798587         0   85          0           0              1
1880  101.831798         0   56          1          -1              0
840   101.604893         0    2          1           1              1
1410   98.948947         1   96          1          -1              1
1216  100.734807         0   74          0          -1              0
...          ...       ...  ...        ...         ...            ...
1638   99.298813         1   48          1          -1              0
1095  101.432581         0   27          0           0              0
1130  101.036258         0   30          0          -1              0
1294  100.754782         1   64          0          -1              1
860    99.760039         1   64          1           0              1

[2156 rows x 6 columns]

In [13]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
368    98.283916         0   68          0           0              1
1418  101.439356         0   67          0          -1              1
1765   99.603011         0   27          0           0              0
1419   99.547720         0   27          0           0              0
1452  101.560218         1   26          0           0              0
...          ...       ...  ...        ...         ...            ...
1429  100.419429         0   27          0           0              0
969   101.026366         0   27          0           0              0
999   101.928939         0   27          0           0              0
1465  101.111171         0   27          0           0              0
353    99.959929         0   27          0           0              0

[539 rows x 6 columns]

In [14]:
X_train = train[['fever' , 'bodyPain' , 'age' , 'runnyNose' , 'diffBreath']].to_numpy()
X_test = test[['fever' , 'bodyPain' , 'age' , 'runnyNose' , 'diffBreath']].to_numpy()

In [15]:
Y_train = train[['infectionProb']].to_numpy().reshape(2156,)
Y_test = test[['infectionProb']].to_numpy().reshape(539,)

In [16]:
Y_train

array([1, 0, 1, ..., 0, 1, 1], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [19]:
inputFeatures = [100 , 1 , 82 , 0 , 1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [20]:
infProb

0.5489369628030412